/* general style --------------------*/

body {


	background-image:url("http://i.imgur.com/jZSwmCk.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
	background-attachment:fixed;
	font-size:100%;
	padding:0em;
	margin:0em;
}

.hidden {
	position:absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

header {
	display:block;
}

#clockboxActivate {
	display:inline;
	color:#FFFFFF;
	opacity:0.2;
	position:fixed;
	top:0.44em;
	line-height:0.8em;
	font-size:2em;
	font-family:impact;
	padding:0em 0.2em 0em 0.1em;
	border-right:0.2em solid #FFFFFF;


}

#clockbox {
	display:none;
	color:#FFFFFF;
	opacity:0.4;
	font-size:4em;
	font-family:impact;
	text-align:right;
	position:fixed;
	top:0.2em;
	width:30%;
	background:#000000;
	padding:0em 0.5em 0em 0.1em;
	border-bottom:0.1em solid #FFFFFF;
}

#main {
	display:block;
	width:95%;
	max-width:980px;
	margin:12em auto;

}

#main section {
	display:block;
	margin:0em 15em 6.5em 15em;

}


#main section article {
	display:inline;
	max-width:2em;
	background:#004D80;
	padding:3.8em 3.8em 3.8em 3.8em;
	margin:0em 0em 0em 0em;
	border-radius:10px;
	opacity:0.8;
	box-shadow:0em 0em 2em 0em #000000;

}

#main section article:hover {
	opacity:1;
	background:#004D78;
	box-shadow:0em 0em 2em 0em #000000;
	padding:3.7em 3.7em 3.7em 3.7em;
	margin:0.1em 0.1em 0.1em 0.1em;
}

#oben article:hover {
	border-top:0.2em solid #FFFFFF;
}
#unten article:hover {
	border-bottom:0.2em solid #FFFFFF;
}

#main section article img {
	max-width:190px;
	max-height:190px;
	width:2.2em;
	height:2.2em;
	opacity:0.8;
}


#search {
	display:block;
	width:100%;
	line-height:2em;
	margin:0em 0em 0em 0em;
	opacity:0.4;
}


#search form {
	display:block;
	margin:0em 0em 0em 0em;
	text-align:center;
}

#q{
	opacity:0.4;
	width:40%;
	margin:0em 1em 0em 0em;
	text-align:center;
	box-shadow:0em 0em 2em 0.2em #000000;
	background:#000000;
	color:#FFFFFF;
	font-family:impact;
	font-size:1.25em;

}

#q:hover{
	opacity:1;
	box-shadow:0em 0em 2em 0.2em #FFFFFF;
}
