/*Global styles or if in small window:*/
html, body{
    background-image: url("../img/upfeathers.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
#bar,
#slot1,
#searchform,
#searchinput,
#calendar,
#main,
#main div,
#linkdiv,
#linkdiv div {
    z-index: 10;
}
#sigdiv,
#sig {
    z-index: 0;
}
#bar {
    background-image: url("../img/diagonal_waves.png");
    text-align: center;
    position: relative;
    width: auto;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    -webkit-box-shadow: 0px 0px 8px 2px #a8a8a8;
    -moz-box-shadow: 0px 0px 8px 2px #a8a8a8;
    box-shadow: 0px 0px 8px 2px #a8a8a8;
}
#main div {
    font: 30px/1.6 'Kameron', Georgia, serif;
    text-align: center;
    background-image: url("../img/diagonal_waves.png");
    -webkit-box-shadow: 0px 0px 8px 2px #a8a8a8;
    -moz-box-shadow: 0px 0px 8px 2px #a8a8a8;
    box-shadow: 0px 0px 8px 2px #a8a8a8;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    width: 90%;
    overflow: visible;
    height: auto;
}
#main #calendar .gcf-title-block {
    font: 200 30px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}
#main #calendar div{
    font: 15px/1.6 'Kameron', Georgia, serif;
    background-image: none;
    -webkit-box-shadow: 0px 0px 0px 0px #a8a8a8;
    -moz-box-shadow: 0px 0px 0px 0px #a8a8a8;
    margin-top: 0%;
    margin-bottom: 0%;

}
#linkdiv {
    position: relative;
    width: 96%;
    overflow: hidden;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 4%;
    border: none;
    text-shadow: none;
}
#linkdiv div {
    float: left;
    position: relative;
    vertical-align: top;
    background-image: url("../img/diagonal_waves.png");
    text-align: center;
    width: calc((100% - 6%) / 3);
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 0%;
    height: auto;
    -webkit-box-shadow: 0px 0px 8px 2px #a8a8a8;
    -moz-box-shadow: 0px 0px 8px 2px #a8a8a8;
    box-shadow: 0px 0px 8px 2px #a8a8a8;
}
#linkdiv #development,
#linkdiv #entertainment {
    /*Essentially #linkdiv div and NOT #school*/
    margin-left: 2%;
}
#linkdiv div h2 {
    margin: 0%;
}
#linkdiv div a {
    font: 15px/1.6 'Kameron', Georgia, serif;
    text-align: center;
    color: #333333;
}
#linkdiv div hr {
    margin-top: 0%;
    margin-bottom: 5px;
}
#linkdiv div .overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    background-image: none;
    display: none;
    width: 100%;
    height: 100%;
    /*z-index: 10000;*/
    -webkit-box-shadow: inset 0px 0px 30px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 30px 2px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 30px 2px rgba(0,0,0,0.5);
}
#sig {
    position: fixed;
    display: none; /*hidden until height large enough*/
    font: 14px/1.6 'Kameron', Georgia, serif;
    text-align: right;
    float: left;
    right: 5%;
    bottom: 0%;
    color: #333333;
}
#sig a {
    font-family: 'Oleo Script', Helvetica, sans-serif;
    color: #333333;
}
#notice {
    position: fixed;
    display: none; /*hidden until height large enough*/
    font: 14px/1.6 'Kameron', Georgia, serif;
    text-align: left;
    float: left;
    left: 5%;
    bottom: 0%;
}
.menu {
    position: absolute;
    left: 4px;
    font: 200 30px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #777;
    z-index: 10000;
    /*z-index: -1; Behind h2 if necessary */
}
.menuitem {
    position: absolute;
    display: none;
}
.addCollectionBtn {
    left: 10px;
    bottom: calc(20% + 10px);
}
.addLinkBtn {
    left: 10px;
    bottom: 10px
}
.removeCollectionBtn {
    right: 10px;
    bottom: calc(20% + 10px);
}
.removeLinkBtn {
    right: 10px;
    bottom: 10px;
}
.addCollectionBtn, .addLinkBtn {
    background-color: #27ae60;
}
.addCollectionBtn:hover, .addLinkBtn:hover {
    background-color: #2ecc71;
}
.removeLinkBtn, .removeCollectionBtn {
    background-color: #c0392b;
}
.removeLinkBtn:hover, .removeCollectionBtn:hover {
    background-color: #e74c3c;
}
.menuitem {
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 4px;
    width: calc(100%/2.6);
    transition: all 0.5s;
    cursor: pointer;
    /*margin: 5%;*/
    z-index: 1000000;
}
.menuitem span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.menuitem span:after {
    content: "\25BA"; /* Right triangle */
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.menuitem:hover span {
    padding-right: 25px;
}
.menuitem:hover span:after {
    opacity: 1;
    right: 0;
}
h1 {
    font: 400 75px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
h2 {
    font: 200 30px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.1);
}
p1 {
    font: 24px/1.6 'Kameron', Georgia, serif;
    text-align: center;
    background-image: url("../img/diagonal_waves.png");
    -webkit-box-shadow: 0px 0px 8px 2px #a8a8a8;
    -moz-box-shadow: 0px 0px 8px 2px #a8a8a8;
    box-shadow: 0px 0px 8px 2px #a8a8a8;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
}
input {
    background: transparent;
    width: 100%;
    text-align: center;
    border: 0px solid transparent;
}
form {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom:0px;
    font: 24px/1.6 'Kameron', Georgia, serif;
    text-align: center;
    background-image: url("../img/diagonal_waves.png");
    -webkit-box-shadow: 0px 0px 8px 2px #a8a8a8;
    -moz-box-shadow: 0px 0px 8px 2px #a8a8a8;
    box-shadow: 0px 0px 8px 2px #a8a8a8;
}

/*Only show signature and notice if tall enough*/
/*If < 700 width, requires at least 700px height and 350px width*/
@media screen and (min-height: 700px) and (min-width: 350px) and (max-width: 699px) {
    #sig, #notice {
        display:inline;
    }
}
/*If >= 700 width, requires proportionate height to display at least full name clearly.*/
@media screen and (min-width: 700px) and (min-height: 790px) and (max-width: 799px) {
    #sig, #notice {
        display:inline;
    }
}
@media screen and (min-width: 800px) and (min-height: 810px) and (max-width: 899px) {
    #sig, #notice {
        display:inline;
    }
}
@media screen and (min-width: 900px) and (min-height: 810px) and (max-width: 999px) {
    #sig, #notice {
        display:inline;
    }
}
@media screen and (min-width: 1000px) and (min-height: 820px) and (max-width: 1099px) {
    #sig, #notice {
        display:inline;
    }
}
@media screen and (min-width: 1100px) and (min-height: 830px) and (max-width: 1199px) {
    #sig, #notice {
        display:inline;
    }
}
@media screen and (min-width: 1200px) and (min-height: 840px) and (max-width: 1299px) {
    #sig, #notice {
        display:inline;
    }
}
@media screen and (min-width: 1300px) and (min-height: 850px) and (max-width: 1399px) {
    #sig, #notice {
        display:inline;
    }
}
@media screen and (min-width: 1400px) and (min-height: 860px) {
    #sig, #notice {
        display:inline;
    }
}

/*If in wide enough (700px) window, display content in large fonts*/
@media screen and (min-width: 700px) {
    #main #calendar .gcf-title-block {
        font: 200 40px/1.3 'Oleo Script', Helvetica, sans-serif;
    }
    #main #calendar div {
        font: 20px/1.6 'Kameron', Georgia, serif;
    }
    #sig, #notice {
        font: 16px/1.6 'Kameron', Georgia, serif;
    }
    h1 {
        font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    }
    h2,
    .menu {
        font: 200 40px/1.3 'Oleo Script', Helvetica, sans-serif;
    }
    p1 {
        font: 30px/1.6 'Kameron', Georgia, serif;
    }
    form {
        font: 30px/1.6 'Kameron', Georgia, serif;
    }
    #linkdiv div a {
        font: 20px/1.6 'Kameron', Georgia, serif;
}
